<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838256168929-qo9ga6i753bsc8anar5ooo2s2d30enro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838256168929-qo9ga6i753bsc8anar5ooo2s2d30enro</string>
	<key>API_KEY</key>
	<string>AIzaSyAtWUUu3qzZXF51NDxQqTW_SxREQPVWugg</string>
	<key>GCM_SENDER_ID</key>
	<string>838256168929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mibsoldsdk.SignWithGoogle</string>
	<key>PROJECT_ID</key>
	<string>signwith-36311</string>
	<key>STORAGE_BUCKET</key>
	<string>signwith-36311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838256168929:ios:92093550d653576e4ecca0</string>
</dict>
</plist>